@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  color: #ffffff;
  font-family: "PT Serif", serif;
  background: #171b1c;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 100vh;
  border-style: solid;
  border-color: rgb(39, 204, 75);
}

.main__card {
  background-color: rgb(2, 1, 63);
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  position: relative;
  width: 400px;
  border-style: solid;
  border-color: red;
}

h1 {
  font-size: 35px;
  color: azure;
  text-align: center;
}

.firstRow {
  display: flex;
}

.kg__card {
  width: 50%;
}

.weight {
  width: 100%;
}

.age__card {
  width: 50%;
}

.age {
  width: 100%;
}

.message {
  font-size: 15px;
  color: azure;
  text-align: center;
}

.height {
  width: 100%;
}

.thirdRow {
  display: flex;
  text-align: center;
}

.genderMale {
  width: 50%;
  font-size: 40px;
}

.genderFemale {
  width: 50%;
  font-size: 40px;
}

.buttonBlock {
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 1px;
}

.answerButton {
  background-color: aqua;
  border: none;
  color: white;
  width: 100%;
  padding: 15px 32px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  cursor: pointer;
}
